* {
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    background-color: hsl(233, 47%, 7%);
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.main-card {
    background-color: hsl(244, 38%, 16%);
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

@media only screen and (min-width: 375px) {
    .main-card {
        width: 85%;
        height: 80%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px
    }

    footer p, a {
        font-size: 0.9rem;
    }
}
